In [5]:
import pandas as pd
import math
from sqlalchemy import create_engine

In [6]:
# import csv file
data = pd.read_csv("datasources/Sex_Offender_Registry.csv")

In [7]:
# display full data in table
pd.set_option('display.max_columns', None)

In [8]:
data

,X,Y,OBJECTID,BLOCK_X,BLOCK_Y,DCS_LAST_MOD_DTM,SEXOFFENDERCODE,ADDDATE,LASTNAME,FIRSTNAME,ALIASES,MAXCLASSIFICATION,BIRTHDATE,HEIGHTNUM,WEIGHTNUM,EYECOLOR,HAIRCOLOR,MARKINGS,REGISTRATIONDATE,TYPE,DISTRICT,PSA,BLOCKNAME,QUADRANT,ZIP
0,-76.973974,38.863542,4236689,402259,132858,2021/01/14 06:15:24+00,002-910,2016/08/02 09:34:44+00,SANDERS,ANTHONY,DERRICK JUICE / X JUICE / ANTHONY SANDERS /...,A,1969/06/19 00:00:00+00,66,138,BROWN,BLACK,TATTOO-LEFT WRIST: CHINESE SYMBOL; RIGHT WRIST...,2016/08/29 00:00:00+00,HOME,6.0,607.0,2300 - 2399 BLOCK OF GOOD HOPE ROAD SE,SE,20020
1,-76.972648,38.857499,4236690,402374,132187,2021/01/14 06:15:24+00,002-913,2016/08/04 14:42:53+00,GAYLES,JERMAINE,ROBERT GAYLES / JERMAINE IRVIN / JERMAINE I...,B,1986/06/25 00:00:00+00,73,200,BROWN,BLACK,NaN,2018/02/22 00:00:00+00,HOME,7.0,701.0,2300 - 2399 BLOCK OF AINGER PLACE SE,SE,20020
2,-76.971451,38.932130,4236691,402476,140472,2021/01/14 06:15:24+00,002-919,2016/08/09 18:06:15+00,HARRIS,REGINALD,REGINALD ELBERT HARRIS-WILLS,B,1995/02/12 00:00:00+00,67,157,BROWN,BLACK,"TATTOO ON LOWER RIGHT ARM ""LAMONT""; TATTOO ON ...",2016/10/20 00:00:00+00,HOME,5.0,503.0,2400 - 2499 BLOCK OF LAWRENCE STREET NE,NE,20018
3,-77.010605,38.914089,4236692,399080,138468,2021/01/14 06:15:24+00,002-927,2016/08/30 11:29:37+00,STRICKLAND,GARY,MELVIN,B,1967/01/22 00:00:00+00,74,245,BROWN,BLACK,"TATTOO ON SHOULDER ""TINA""; GUNSHOT WOUNDS ON B...",2016/09/01 00:00:00+00,HOME,3.0,308.0,1 - 99 BLOCK OF S STREET NW,NW,20001
4,-77.021917,38.913356,4236693,398099,138387,2021/01/14 06:15:24+00,002-928,2016/08/31 10:07:09+00,GANT,TIMOTHY,TIMOTHY GANT,B,1989/09/19 00:00:00+00,71,285,BROWN,BLACK,TATTOO ON LEFT SHOULDER 'PICTURE OF A CROSS WI...,2017/02/09 00:00:00+00,WORK,3.0,308.0,1700 - 1799 BLOCK OF 7TH STREET NW,NW,20001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318,-76.991535,38.878848,4237792,400735,134556,2021/01/14 06:15:24+00,001-555,2012/08/06 11:18:48+00,JENKINS,MARQUETTE,MARQUETTE KEVON JENKINS,A,1991/04/23 00:00:00+00,66,205,BROWN,BLACK,NaN,2012/08/23 00:00:00+00,WORK,1.0,106.0,800 - 999 BLOCK OF 11TH STREET SE,SE,20003
1319,-76.972864,38.868251,4237793,402355,133380,2021/01/14 06:15:24+00,001-555,2012/08/06 11:18:48+00,JENKINS,MARQUETTE,MARQUETTE KEVON JENKINS,A,1991/04/23 00:00:00+00,66,205,BROWN,BLACK,NaN,2012/08/23 00:00:00+00,HOME,6.0,607.0,2238 - 2399 BLOCK OF S STREET SE,SE,20020
1320,-76.965604,38.874895,4237794,402985,134118,2021/01/14 06:15:24+00,001-559,2011/04/07 15:02:37+00,WASHINGTON,LAWRENCE,LAWRENE LEWIS WASHINGTON,B,1982/06/05 00:00:00+00,70,165,BROWN,BLACK,NaN,2011/04/18 00:00:00+00,WORK,6.0,605.0,1300 - 1349 BLOCK OF ANACOSTIA ROAD SE,SE,20019
1321,-76.935537,38.881093,4237795,405593,134808,2021/01/14 06:15:24+00,001-559,2011/04/07 15:02:37+00,WASHINGTON,LAWRENCE,LAWRENE LEWIS WASHINGTON,B,1982/06/05 00:00:00+00,70,165,BROWN,BLACK,NaN,2011/04/18 00:00:00+00,HOME,6.0,604.0,600 - 699 BLOCK OF 46TH PLACE SE,SE,20019
1322,-76.959117,38.873312,4237796,403548,133943,2021/01/14 06:15:24+00,001-563,2012/12/10 00:00:00+00,TYER,JOHN,NaN,A,1951/08/18 00:00:00+00,71,160,BROWN,BLACK/GRAY,NaN,2007/04/04 00:00:00+00,HOME,6.0,605.0,3200 - 3399 BLOCK OF POPE STREET SE,SE,20020

In [9]:
# change datetime format to only include date
clean_data = data

for i in range(len(clean_data)):
    clean_data.iloc[i, 5] = clean_data.iloc[i, 5][:10]
    clean_data.iloc[i, 7] = clean_data.iloc[i, 7][:10]
    clean_data.iloc[i, 12] = clean_data.iloc[i, 12][:10]
    clean_data.iloc[i, 18] = clean_data.iloc[i, 18][:10]
    if math.isnan(clean_data.iloc[i, 20]):
        pass
    else:
        clean_data.iloc[i, 20] = int(clean_data.iloc[i, 20])

In [10]:
clean_data = clean_data.rename(columns={
    'X': 'Longitude',
    'Y': 'Latitude',
    'OBJECTID': 'Object_ID',
    'BLOCK_X': 'Block_X',
    'BLOCK_Y': 'Block_Y',
    'DCS_LAST_MOD_DTM': 'Last_Updated',
    'SEXOFFENDERCODE': 'Sex_Offender_Code',
    'ADDDATE': 'Date_Added',
    'LASTNAME': 'Last_Name',
    'FIRSTNAME': 'First_Name',
    'ALIASES': 'Aliases',
    'MAXCLASSIFICATION': 'Max_Classification',
    'BIRTHDATE': 'DOB',
    'HEIGHTNUM': 'Height_Inches',
    'WEIGHTNUM': 'Weight_lbs',
    'EYECOLOR': 'Eye_Color',
    'HAIRCOLOR': 'Hair_Color',
    'MARKINGS': 'Markings',
    'REGISTRATIONDATE': 'Date_Registered',
    'TYPE': 'Residence',
    'DISTRICT': 'District',
    'PSA': 'PSA_Announcement_Number',
    'BLOCKNAME': 'Block_Address',
    'QUADRANT': 'Quadrant',
    'ZIP': 'ZIP_Code'
})

In [11]:
clean_data

,Longitude,Latitude,Object_ID,Block_X,Block_Y,Last_Updated,Sex_Offender_Code,Date_Added,Last_Name,First_Name,Aliases,Max_Classification,DOB,Height_Inches,Weight_lbs,Eye_Color,Hair_Color,Markings,Date_Registered,Residence,District,PSA_Announcement_Number,Block_Address,Quadrant,ZIP_Code
0,-76.973974,38.863542,4236689,402259,132858,2021/01/14,002-910,2016/08/02,SANDERS,ANTHONY,DERRICK JUICE / X JUICE / ANTHONY SANDERS /...,A,1969/06/19,66,138,BROWN,BLACK,TATTOO-LEFT WRIST: CHINESE SYMBOL; RIGHT WRIST...,2016/08/29,HOME,6.0,607.0,2300 - 2399 BLOCK OF GOOD HOPE ROAD SE,SE,20020
1,-76.972648,38.857499,4236690,402374,132187,2021/01/14,002-913,2016/08/04,GAYLES,JERMAINE,ROBERT GAYLES / JERMAINE IRVIN / JERMAINE I...,B,1986/06/25,73,200,BROWN,BLACK,NaN,2018/02/22,HOME,7.0,701.0,2300 - 2399 BLOCK OF AINGER PLACE SE,SE,20020
2,-76.971451,38.932130,4236691,402476,140472,2021/01/14,002-919,2016/08/09,HARRIS,REGINALD,REGINALD ELBERT HARRIS-WILLS,B,1995/02/12,67,157,BROWN,BLACK,"TATTOO ON LOWER RIGHT ARM ""LAMONT""; TATTOO ON ...",2016/10/20,HOME,5.0,503.0,2400 - 2499 BLOCK OF LAWRENCE STREET NE,NE,20018
3,-77.010605,38.914089,4236692,399080,138468,2021/01/14,002-927,2016/08/30,STRICKLAND,GARY,MELVIN,B,1967/01/22,74,245,BROWN,BLACK,"TATTOO ON SHOULDER ""TINA""; GUNSHOT WOUNDS ON B...",2016/09/01,HOME,3.0,308.0,1 - 99 BLOCK OF S STREET NW,NW,20001
4,-77.021917,38.913356,4236693,398099,138387,2021/01/14,002-928,2016/08/31,GANT,TIMOTHY,TIMOTHY GANT,B,1989/09/19,71,285,BROWN,BLACK,TATTOO ON LEFT SHOULDER 'PICTURE OF A CROSS WI...,2017/02/09,WORK,3.0,308.0,1700 - 1799 BLOCK OF 7TH STREET NW,NW,20001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318,-76.991535,38.878848,4237792,400735,134556,2021/01/14,001-555,2012/08/06,JENKINS,MARQUETTE,MARQUETTE KEVON JENKINS,A,1991/04/23,66,205,BROWN,BLACK,NaN,2012/08/23,WORK,1.0,106.0,800 - 999 BLOCK OF 11TH STREET SE,SE,20003
1319,-76.972864,38.868251,4237793,402355,133380,2021/01/14,001-555,2012/08/06,JENKINS,MARQUETTE,MARQUETTE KEVON JENKINS,A,1991/04/23,66,205,BROWN,BLACK,NaN,2012/08/23,HOME,6.0,607.0,2238 - 2399 BLOCK OF S STREET SE,SE,20020
1320,-76.965604,38.874895,4237794,402985,134118,2021/01/14,001-559,2011/04/07,WASHINGTON,LAWRENCE,LAWRENE LEWIS WASHINGTON,B,1982/06/05,70,165,BROWN,BLACK,NaN,2011/04/18,WORK,6.0,605.0,1300 - 1349 BLOCK OF ANACOSTIA ROAD SE,SE,20019
1321,-76.935537,38.881093,4237795,405593,134808,2021/01/14,001-559,2011/04/07,WASHINGTON,LAWRENCE,LAWRENE LEWIS WASHINGTON,B,1982/06/05,70,165,BROWN,BLACK,NaN,2011/04/18,HOME,6.0,604.0,600 - 699 BLOCK OF 46TH PLACE SE,SE,20019
1322,-76.959117,38.873312,4237796,403548,133943,2021/01/14,001-563,2012/12/10,TYER,JOHN,NaN,A,1951/08/18,71,160,BROWN,BLACK/GRAY,NaN,2007/04/04,HOME,6.0,605.0,3200 - 3399 BLOCK OF POPE STREET SE,SE,20020

In [18]:
# Clean dataset to only include unique offenders
no_duplicate_data = clean_data.drop_duplicates(subset=['Sex_Offender_Code'])

In [19]:
# export dataset with unique add dates for line chart
no_duplicate_data.to_csv("datasources/unique_add_dates.csv")

In [20]:
# export data to SQL

In [21]:
rds_connection_string = "postgres:postgres@localhost:5432/sex_offender_db"
engine = create_engine(f"postgresql://{rds_connection_string}")

In [22]:
engine.table_names()

['registry', 'unique_dates']

In [24]:
clean_data.to_sql(name='registry', con=engine, if_exists='append', index=False)
no_duplicate_data.to_sql(name='unique_dates', con=engine, if_exists='append', index=False)