In [22]:
import pandas as pd
import math
from sqlalchemy import create_engine
from config import password
import os

In [23]:
# import csv file
data = pd.read_csv("Sex_Offender_Registry.csv")

In [24]:
# display full data in table
pd.set_option('display.max_columns', None)

In [25]:
data

,X,Y,OBJECTID,BLOCK_X,BLOCK_Y,DCS_LAST_MOD_DTM,SEXOFFENDERCODE,ADDDATE,LASTNAME,FIRSTNAME,ALIASES,MAXCLASSIFICATION,BIRTHDATE,HEIGHTNUM,WEIGHTNUM,EYECOLOR,HAIRCOLOR,MARKINGS,REGISTRATIONDATE,TYPE,DISTRICT,PSA,BLOCKNAME,QUADRANT,ZIP
0,-76.973974,38.863542,4236689,402259,132858,2021/01/14 06:15:24+00,002-910,2016/08/02 09:34:44+00,SANDERS,ANTHONY,DERRICK JUICE / X JUICE / ANTHONY SANDERS /...,A,1969/06/19 00:00:00+00,66,138,BROWN,BLACK,TATTOO-LEFT WRIST: CHINESE SYMBOL; RIGHT WRIST...,2016/08/29 00:00:00+00,HOME,6.0,607.0,2300 - 2399 BLOCK OF GOOD HOPE ROAD SE,SE,20020
1,-76.972648,38.857499,4236690,402374,132187,2021/01/14 06:15:24+00,002-913,2016/08/04 14:42:53+00,GAYLES,JERMAINE,ROBERT GAYLES / JERMAINE IRVIN / JERMAINE I...,B,1986/06/25 00:00:00+00,73,200,BROWN,BLACK,NaN,2018/02/22 00:00:00+00,HOME,7.0,701.0,2300 - 2399 BLOCK OF AINGER PLACE SE,SE,20020
2,-76.971451,38.932130,4236691,402476,140472,2021/01/14 06:15:24+00,002-919,2016/08/09 18:06:15+00,HARRIS,REGINALD,REGINALD ELBERT HARRIS-WILLS,B,1995/02/12 00:00:00+00,67,157,BROWN,BLACK,"TATTOO ON LOWER RIGHT ARM ""LAMONT""; TATTOO ON ...",2016/10/20 00:00:00+00,HOME,5.0,503.0,2400 - 2499 BLOCK OF LAWRENCE STREET NE,NE,20018
3,-77.010605,38.914089,4236692,399080,138468,2021/01/14 06:15:24+00,002-927,2016/08/30 11:29:37+00,STRICKLAND,GARY,MELVIN,B,1967/01/22 00:00:00+00,74,245,BROWN,BLACK,"TATTOO ON SHOULDER ""TINA""; GUNSHOT WOUNDS ON B...",2016/09/01 00:00:00+00,HOME,3.0,308.0,1 - 99 BLOCK OF S STREET NW,NW,20001
4,-77.021917,38.913356,4236693,398099,138387,2021/01/14 06:15:24+00,002-928,2016/08/31 10:07:09+00,GANT,TIMOTHY,TIMOTHY GANT,B,1989/09/19 00:00:00+00,71,285,BROWN,BLACK,TATTOO ON LEFT SHOULDER 'PICTURE OF A CROSS WI...,2017/02/09 00:00:00+00,WORK,3.0,308.0,1700 - 1799 BLOCK OF 7TH STREET NW,NW,20001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318,-76.991535,38.878848,4237792,400735,134556,2021/01/14 06:15:24+00,001-555,2012/08/06 11:18:48+00,JENKINS,MARQUETTE,MARQUETTE KEVON JENKINS,A,1991/04/23 00:00:00+00,66,205,BROWN,BLACK,NaN,2012/08/23 00:00:00+00,WORK,1.0,106.0,800 - 999 BLOCK OF 11TH STREET SE,SE,20003
1319,-76.972864,38.868251,4237793,402355,133380,2021/01/14 06:15:24+00,001-555,2012/08/06 11:18:48+00,JENKINS,MARQUETTE,MARQUETTE KEVON JENKINS,A,1991/04/23 00:00:00+00,66,205,BROWN,BLACK,NaN,2012/08/23 00:00:00+00,HOME,6.0,607.0,2238 - 2399 BLOCK OF S STREET SE,SE,20020
1320,-76.965604,38.874895,4237794,402985,134118,2021/01/14 06:15:24+00,001-559,2011/04/07 15:02:37+00,WASHINGTON,LAWRENCE,LAWRENE LEWIS WASHINGTON,B,1982/06/05 00:00:00+00,70,165,BROWN,BLACK,NaN,2011/04/18 00:00:00+00,WORK,6.0,605.0,1300 - 1349 BLOCK OF ANACOSTIA ROAD SE,SE,20019
1321,-76.935537,38.881093,4237795,405593,134808,2021/01/14 06:15:24+00,001-559,2011/04/07 15:02:37+00,WASHINGTON,LAWRENCE,LAWRENE LEWIS WASHINGTON,B,1982/06/05 00:00:00+00,70,165,BROWN,BLACK,NaN,2011/04/18 00:00:00+00,HOME,6.0,604.0,600 - 699 BLOCK OF 46TH PLACE SE,SE,20019
1322,-76.959117,38.873312,4237796,403548,133943,2021/01/14 06:15:24+00,001-563,2012/12/10 00:00:00+00,TYER,JOHN,NaN,A,1951/08/18 00:00:00+00,71,160,BROWN,BLACK/GRAY,NaN,2007/04/04 00:00:00+00,HOME,6.0,605.0,3200 - 3399 BLOCK OF POPE STREET SE,SE,20020

In [26]:
# change datetime format to only include date
clean_data = data

for i in range(len(clean_data)):
    clean_data.iloc[i, 5] = clean_data.iloc[i, 5][:10]
    clean_data.iloc[i, 7] = clean_data.iloc[i, 7][:10]
    clean_data.iloc[i, 12] = clean_data.iloc[i, 12][:10]
    clean_data.iloc[i, 18] = clean_data.iloc[i, 18][:10]
    if math.isnan(clean_data.iloc[i, 20]):
        pass
    else:
        clean_data.iloc[i, 20] = int(clean_data.iloc[i, 20])

In [27]:
clean_data = clean_data.rename(columns={
    'X': 'Longitude',
    'Y': 'Latitude',
    'OBJECTID': 'Object_ID',
    'BLOCK_X': 'Block_X',
    'BLOCK_Y': 'Block_Y',
    'DCS_LAST_MOD_DTM': 'Last_Updated',
    'SEXOFFENDERCODE': 'Sex_Offender_Code',
    'ADDDATE': 'Date_Added',
    'LASTNAME': 'Last_Name',
    'FIRSTNAME': 'First_Name',
    'ALIASES': 'Aliases',
    'MAXCLASSIFICATION': 'Max_Classification',
    'BIRTHDATE': 'DOB',
    'HEIGHTNUM': 'Height_Inches',
    'WEIGHTNUM': 'Weight_lbs',
    'EYECOLOR': 'Eye_Color',
    'HAIRCOLOR': 'Hair_Color',
    'MARKINGS': 'Markings',
    'REGISTRATIONDATE': 'Date_Registered',
    'TYPE': 'Residence',
    'DISTRICT': 'District',
    'PSA': 'PSA_Announcement_Number',
    'BLOCKNAME': 'Block_Address',
    'QUADRANT': 'Quadrant',
    'ZIP': 'ZIP_Code'
})

In [28]:
clean_data

,Longitude,Latitude,Object_ID,Block_X,Block_Y,Last_Updated,Sex_Offender_Code,Date_Added,Last_Name,First_Name,Aliases,Max_Classification,DOB,Height_Inches,Weight_lbs,Eye_Color,Hair_Color,Markings,Date_Registered,Residence,District,PSA_Announcement_Number,Block_Address,Quadrant,ZIP_Code
0,-76.973974,38.863542,4236689,402259,132858,2021/01/14,002-910,2016/08/02,SANDERS,ANTHONY,DERRICK JUICE / X JUICE / ANTHONY SANDERS /...,A,1969/06/19,66,138,BROWN,BLACK,TATTOO-LEFT WRIST: CHINESE SYMBOL; RIGHT WRIST...,2016/08/29,HOME,6.0,607.0,2300 - 2399 BLOCK OF GOOD HOPE ROAD SE,SE,20020
1,-76.972648,38.857499,4236690,402374,132187,2021/01/14,002-913,2016/08/04,GAYLES,JERMAINE,ROBERT GAYLES / JERMAINE IRVIN / JERMAINE I...,B,1986/06/25,73,200,BROWN,BLACK,NaN,2018/02/22,HOME,7.0,701.0,2300 - 2399 BLOCK OF AINGER PLACE SE,SE,20020
2,-76.971451,38.932130,4236691,402476,140472,2021/01/14,002-919,2016/08/09,HARRIS,REGINALD,REGINALD ELBERT HARRIS-WILLS,B,1995/02/12,67,157,BROWN,BLACK,"TATTOO ON LOWER RIGHT ARM ""LAMONT""; TATTOO ON ...",2016/10/20,HOME,5.0,503.0,2400 - 2499 BLOCK OF LAWRENCE STREET NE,NE,20018
3,-77.010605,38.914089,4236692,399080,138468,2021/01/14,002-927,2016/08/30,STRICKLAND,GARY,MELVIN,B,1967/01/22,74,245,BROWN,BLACK,"TATTOO ON SHOULDER ""TINA""; GUNSHOT WOUNDS ON B...",2016/09/01,HOME,3.0,308.0,1 - 99 BLOCK OF S STREET NW,NW,20001
4,-77.021917,38.913356,4236693,398099,138387,2021/01/14,002-928,2016/08/31,GANT,TIMOTHY,TIMOTHY GANT,B,1989/09/19,71,285,BROWN,BLACK,TATTOO ON LEFT SHOULDER 'PICTURE OF A CROSS WI...,2017/02/09,WORK,3.0,308.0,1700 - 1799 BLOCK OF 7TH STREET NW,NW,20001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318,-76.991535,38.878848,4237792,400735,134556,2021/01/14,001-555,2012/08/06,JENKINS,MARQUETTE,MARQUETTE KEVON JENKINS,A,1991/04/23,66,205,BROWN,BLACK,NaN,2012/08/23,WORK,1.0,106.0,800 - 999 BLOCK OF 11TH STREET SE,SE,20003
1319,-76.972864,38.868251,4237793,402355,133380,2021/01/14,001-555,2012/08/06,JENKINS,MARQUETTE,MARQUETTE KEVON JENKINS,A,1991/04/23,66,205,BROWN,BLACK,NaN,2012/08/23,HOME,6.0,607.0,2238 - 2399 BLOCK OF S STREET SE,SE,20020
1320,-76.965604,38.874895,4237794,402985,134118,2021/01/14,001-559,2011/04/07,WASHINGTON,LAWRENCE,LAWRENE LEWIS WASHINGTON,B,1982/06/05,70,165,BROWN,BLACK,NaN,2011/04/18,WORK,6.0,605.0,1300 - 1349 BLOCK OF ANACOSTIA ROAD SE,SE,20019
1321,-76.935537,38.881093,4237795,405593,134808,2021/01/14,001-559,2011/04/07,WASHINGTON,LAWRENCE,LAWRENE LEWIS WASHINGTON,B,1982/06/05,70,165,BROWN,BLACK,NaN,2011/04/18,HOME,6.0,604.0,600 - 699 BLOCK OF 46TH PLACE SE,SE,20019
1322,-76.959117,38.873312,4237796,403548,133943,2021/01/14,001-563,2012/12/10,TYER,JOHN,NaN,A,1951/08/18,71,160,BROWN,BLACK/GRAY,NaN,2007/04/04,HOME,6.0,605.0,3200 - 3399 BLOCK OF POPE STREET SE,SE,20020

In [29]:
# Clean dataset to only include unique offenders
no_duplicate_data = clean_data.drop_duplicates(subset=['Sex_Offender_Code'])

In [30]:
# export dataset with unique add dates for line chart
no_duplicate_data.to_csv("unique_add_dates.csv")
no_duplicate_data.head()

,Longitude,Latitude,Object_ID,Block_X,Block_Y,Last_Updated,Sex_Offender_Code,Date_Added,Last_Name,First_Name,Aliases,Max_Classification,DOB,Height_Inches,Weight_lbs,Eye_Color,Hair_Color,Markings,Date_Registered,Residence,District,PSA_Announcement_Number,Block_Address,Quadrant,ZIP_Code
0,-76.973974,38.863542,4236689,402259,132858,2021/01/14,002-910,2016/08/02,SANDERS,ANTHONY,DERRICK JUICE / X JUICE / ANTHONY SANDERS /...,A,1969/06/19,66,138,BROWN,BLACK,TATTOO-LEFT WRIST: CHINESE SYMBOL; RIGHT WRIST...,2016/08/29,HOME,6.0,607.0,2300 - 2399 BLOCK OF GOOD HOPE ROAD SE,SE,20020
1,-76.972648,38.857499,4236690,402374,132187,2021/01/14,002-913,2016/08/04,GAYLES,JERMAINE,ROBERT GAYLES / JERMAINE IRVIN / JERMAINE I...,B,1986/06/25,73,200,BROWN,BLACK,NaN,2018/02/22,HOME,7.0,701.0,2300 - 2399 BLOCK OF AINGER PLACE SE,SE,20020
2,-76.971451,38.932130,4236691,402476,140472,2021/01/14,002-919,2016/08/09,HARRIS,REGINALD,REGINALD ELBERT HARRIS-WILLS,B,1995/02/12,67,157,BROWN,BLACK,"TATTOO ON LOWER RIGHT ARM ""LAMONT""; TATTOO ON ...",2016/10/20,HOME,5.0,503.0,2400 - 2499 BLOCK OF LAWRENCE STREET NE,NE,20018
3,-77.010605,38.914089,4236692,399080,138468,2021/01/14,002-927,2016/08/30,STRICKLAND,GARY,MELVIN,B,1967/01/22,74,245,BROWN,BLACK,"TATTOO ON SHOULDER ""TINA""; GUNSHOT WOUNDS ON B...",2016/09/01,HOME,3.0,308.0,1 - 99 BLOCK OF S STREET NW,NW,20001
4,-77.021917,38.913356,4236693,398099,138387,2021/01/14,002-928,2016/08/31,GANT,TIMOTHY,TIMOTHY GANT,B,1989/09/19,71,285,BROWN,BLACK,TATTOO ON LEFT SHOULDER 'PICTURE OF A CROSS WI...,2017/02/09,WORK,3.0,308.0,1700 - 1799 BLOCK OF 7TH STREET NW,NW,20001

## Export data into SQL

In [31]:
rds_connection_string = f"postgres:{password}@localhost:5432/sex_offender_db"
engine = create_engine(f"postgresql://{rds_connection_string}")

In [32]:
engine.table_names()

['registry', 'unique_dates']

In [33]:
clean_data.to_sql(name='registry', con=engine, if_exists='append', index=False)
no_duplicate_data.to_sql(name='unique_dates', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_registry"
DETAIL:  Key ("Object_ID")=(4236689) already exists.

[SQL: INSERT INTO registry ("Longitude", "Latitude", "Object_ID", "Block_X", "Block_Y", "Last_Updated", "Sex_Offender_Code", "Date_Added", "Last_Name", "First_Name", "Aliases", "Max_Classification", "DOB", "Height_Inches", "Weight_lbs", "Eye_Color", "Hair_Color", "Markings", "Date_Registered", "Residence", "District", "PSA_Announcement_Number", "Block_Address", "Quadrant", "ZIP_Code") VALUES (%(Longitude)s, %(Latitude)s, %(Object_ID)s, %(Block_X)s, %(Block_Y)s, %(Last_Updated)s, %(Sex_Offender_Code)s, %(Date_Added)s, %(Last_Name)s, %(First_Name)s, %(Aliases)s, %(Max_Classification)s, %(DOB)s, %(Height_Inches)s, %(Weight_lbs)s, %(Eye_Color)s, %(Hair_Color)s, %(Markings)s, %(Date_Registered)s, %(Residence)s, %(District)s, %(PSA_Announcement_Number)s, %(Block_Address)s, %(Quadrant)s, %(ZIP_Code)s)]
[parameters: ({'Longitude': -76.9739743119999, 'Latitude': 38.8635423394491, 'Object_ID': 4236689, 'Block_X': 402259, 'Block_Y': 132858, 'Last_Updated': '2021/01/14', 'Sex_Offender_Code': '002-910', 'Date_Added': '2016/08/02', 'Last_Name': 'SANDERS', 'First_Name': 'ANTHONY', 'Aliases': 'DERRICK  JUICE / X  JUICE / ANTHONY  SANDERS / ANTHONY D SANDERS / ANTHONY DERRECK SANDERS / DERRICK  SANDERS / JUICE  SANDERS / WHISKEY  SANDERS / WHISKEY  SANDERS / ANTHONY  SAUNDERS / ANTHONY DERRICK SAUNDERS / DERRICK  SAUNDERS / JUICE  SAUNDERS / X', 'Max_Classification': 'A', 'DOB': '1969/06/19', 'Height_Inches': 66, 'Weight_lbs': 138, 'Eye_Color': 'BROWN', 'Hair_Color': 'BLACK', 'Markings': 'TATTOO-LEFT WRIST: CHINESE SYMBOL; RIGHT WRIST-CHINESE SYMBOL TATTOO WRIST, RIGHT / TATTOO WRIST, LEFT', 'Date_Registered': '2016/08/29', 'Residence': 'HOME', 'District': 6.0, 'PSA_Announcement_Number': 607.0, 'Block_Address': '2300 - 2399 BLOCK OF GOOD HOPE ROAD SE', 'Quadrant': 'SE', 'ZIP_Code': 20020}, {'Longitude': -76.972648106514, 'Latitude': 38.857499456770796, 'Object_ID': 4236690, 'Block_X': 402374, 'Block_Y': 132187, 'Last_Updated': '2021/01/14', 'Sex_Offender_Code': '002-913', 'Date_Added': '2016/08/04', 'Last_Name': 'GAYLES', 'First_Name': 'JERMAINE', 'Aliases': 'ROBERT  GAYLES / JERMAINE  IRVIN / JERMAINE  IRVING / JERMAINE BRANDON IRVING / JERMAINE B IRVING', 'Max_Classification': 'B', 'DOB': '1986/06/25', 'Height_Inches': 73, 'Weight_lbs': 200, 'Eye_Color': 'BROWN', 'Hair_Color': 'BLACK', 'Markings': None, 'Date_Registered': '2018/02/22', 'Residence': 'HOME', 'District': 7.0, 'PSA_Announcement_Number': 701.0, 'Block_Address': '2300 - 2399 BLOCK OF AINGER PLACE SE', 'Quadrant': 'SE', 'ZIP_Code': 20020}, {'Longitude': -76.9714511471898, 'Latitude': 38.932129899085105, 'Object_ID': 4236691, 'Block_X': 402476, 'Block_Y': 140472, 'Last_Updated': '2021/01/14', 'Sex_Offender_Code': '002-919', 'Date_Added': '2016/08/09', 'Last_Name': 'HARRIS', 'First_Name': 'REGINALD', 'Aliases': 'REGINALD ELBERT HARRIS-WILLS', 'Max_Classification': 'B', 'DOB': '1995/02/12', 'Height_Inches': 67, 'Weight_lbs': 157, 'Eye_Color': 'BROWN', 'Hair_Color': 'BLACK', 'Markings': 'TATTOO ON LOWER RIGHT ARM "LAMONT"; TATTOO ON UPPER RIGHT ARM "F.O.E" TATTOO ON RIGHT HAND "ANGEL"; TATTOO ON LOWER LEFT ARM "RIP KAWON" & "REDZ" TATTOO ARM, LEFT / TATTOO ARM, RIGHT / SCAR ARM, RIGHT / PIERCED EARS / TATTOO HAND, RIGHT', 'Date_Registered': '2016/10/20', 'Residence': 'HOME', 'District': 5.0, 'PSA_Announcement_Number': 503.0, 'Block_Address': '2400 - 2499 BLOCK OF LAWRENCE STREET NE', 'Quadrant': 'NE', 'ZIP_Code': 20018}, {'Longitude': -77.0106047845178, 'Latitude': 38.9140885141753, 'Object_ID': 4236692, 'Block_X': 399080, 'Block_Y': 138468, 'Last_Updated': '2021/01/14', 'Sex_Offender_Code': '002-927', 'Date_Added': '2016/08/30', 'Last_Name': 'STRICKLAND', 'First_Name': 'GARY', 'Aliases': 'MELVIN', 'Max_Classification': 'B', 'DOB': '1967/01/22', 'Height_Inches': 74, 'Weight_lbs': 245, 'Eye_Color': 'BROWN', 'Hair_Color': 'BLACK', 'Markings': 'TATTOO ON SHOULDER "TINA"; GUNSHOT WOUNDS ON BACK AND LOWER LEFT LEG TATTOO SHOULDER, RIGHT / SCAR FOREHEAD / GLASSES / SCAR BACK / SCAR LEG, LEFT', 'Date_Registered': '2016/09/01', 'Residence': 'HOME', 'District': 3.0, 'PSA_Announcement_Number': 308.0, 'Block_Address': '1 - 99 BLOCK OF S STREET NW', 'Quadrant': 'NW', 'ZIP_Code': 20001}, {'Longitude': -77.0219173366836, 'Latitude': 38.91335618331539, 'Object_ID': 4236693, 'Block_X': 398099, 'Block_Y': 138387, 'Last_Updated': '2021/01/14', 'Sex_Offender_Code': '002-928', 'Date_Added': '2016/08/31', 'Last_Name': 'GANT', 'First_Name': 'TIMOTHY', 'Aliases': 'TIMOTHY  GANT', 'Max_Classification': 'B', 'DOB': '1989/09/19', 'Height_Inches': 71, 'Weight_lbs': 285, 'Eye_Color': 'BROWN', 'Hair_Color': 'BLACK', 'Markings': 'TATTOO ON LEFT SHOULDER \'PICTURE OF A CROSS WITH A CROWN WITH THUG LIFE WRITING"; TATTOO ON RIGHT ARM "PICTURE OF MICROPHONES TATTOO SHOULDER, LEFT / TATTOO ARM, RIGHT / PIERCED EARS', 'Date_Registered': '2017/02/09', 'Residence': 'WORK', 'District': 3.0, 'PSA_Announcement_Number': 308.0, 'Block_Address': '1700 - 1799 BLOCK OF 7TH STREET NW', 'Quadrant': 'NW', 'ZIP_Code': 20001}, {'Longitude': -77.0136556095569, 'Latitude': 38.897713627337396, 'Object_ID': 4236694, 'Block_X': 398816, 'Block_Y': 136651, 'Last_Updated': '2021/01/14', 'Sex_Offender_Code': '002-928', 'Date_Added': '2016/08/31', 'Last_Name': 'GANT', 'First_Name': 'TIMOTHY', 'Aliases': 'TIMOTHY  GANT', 'Max_Classification': 'B', 'DOB': '1989/09/19', 'Height_Inches': 71, 'Weight_lbs': 285, 'Eye_Color': 'BROWN', 'Hair_Color': 'BLACK', 'Markings': 'TATTOO ON LEFT SHOULDER \'PICTURE OF A CROSS WITH A CROWN WITH THUG LIFE WRITING"; TATTOO ON RIGHT ARM "PICTURE OF MICROPHONES TATTOO SHOULDER, LEFT / TATTOO ARM, RIGHT / PIERCED EARS', 'Date_Registered': '2017/02/09', 'Residence': 'HOME', 'District': 1.0, 'PSA_Announcement_Number': 102.0, 'Block_Address': '500 - 721 BLOCK OF 2ND STREET NW', 'Quadrant': 'NW', 'ZIP_Code': 20001}, {'Longitude': -77.0704680418255, 'Latitude': 38.962086124141706, 'Object_ID': 4236695, 'Block_X': 393893, 'Block_Y': 143799, 'Last_Updated': '2021/01/14', 'Sex_Offender_Code': '002-933', 'Date_Added': '2016/09/07', 'Last_Name': 'METZ', 'First_Name': 'DUSTIN', 'Aliases': None, 'Max_Classification': 'B', 'DOB': '1983/06/14', 'Height_Inches': 70, 'Weight_lbs': 155, 'Eye_Color': 'BROWN', 'Hair_Color': 'BROWN', 'Markings': 'TATTOOS- LEFT SHOULDER: PICTURE OF SAD MASK AND RIGHT SHOULDER: "BEFORE YOU START POINTING FINGERS MAKE SURE YOUR HANDS ARE CLEAN" TATTOO SHOULDER, LEFT / TATTOO SHOULDER, RIGHT', 'Date_Registered': '2016/09/09', 'Residence': 'WORK', 'District': 2.0, 'PSA_Announcement_Number': 201.0, 'Block_Address': '3600 - 3699 BLOCK OF LEGATION STREET NW', 'Quadrant': 'NW', 'ZIP_Code': 20015}, {'Longitude': -77.0742276123102, 'Latitude': 38.9625915932885, 'Object_ID': 4236696, 'Block_X': 393567, 'Block_Y': 143855, 'Last_Updated': '2021/01/14', 'Sex_Offender_Code': '002-933', 'Date_Added': '2016/09/07', 'Last_Name': 'METZ', 'First_Name': 'DUSTIN', 'Aliases': None, 'Max_Classification': 'B', 'DOB': '1983/06/14', 'Height_Inches': 70, 'Weight_lbs': 155, 'Eye_Color': 'BROWN', 'Hair_Color': 'BROWN', 'Markings': 'TATTOOS- LEFT SHOULDER: PICTURE OF SAD MASK AND RIGHT SHOULDER: "BEFORE YOU START POINTING FINGERS MAKE SURE YOUR HANDS ARE CLEAN" TATTOO SHOULDER, LEFT / TATTOO SHOULDER, RIGHT', 'Date_Registered': '2016/09/09', 'Residence': 'HOME', 'District': 2.0, 'PSA_Announcement_Number': 201.0, 'Block_Address': '5420 - 5499 BLOCK OF CONNECTICUT AVENUE NW', 'Quadrant': 'NW', 'ZIP_Code': 20015}  ... displaying 10 of 1323 total bound parameter sets ...  {'Longitude': -76.9355372109951, 'Latitude': 38.8810932070237, 'Object_ID': 4237795, 'Block_X': 405593, 'Block_Y': 134808, 'Last_Updated': '2021/01/14', 'Sex_Offender_Code': '001-559', 'Date_Added': '2011/04/07', 'Last_Name': 'WASHINGTON', 'First_Name': 'LAWRENCE', 'Aliases': 'LAWRENE LEWIS WASHINGTON', 'Max_Classification': 'B', 'DOB': '1982/06/05', 'Height_Inches': 70, 'Weight_lbs': 165, 'Eye_Color': 'BROWN', 'Hair_Color': 'BLACK', 'Markings': None, 'Date_Registered': '2011/04/18', 'Residence': 'HOME', 'District': 6.0, 'PSA_Announcement_Number': 604.0, 'Block_Address': '600 - 699 BLOCK OF 46TH PLACE SE', 'Quadrant': 'SE', 'ZIP_Code': 20019}, {'Longitude': -76.95911726961991, 'Latitude': 38.873311757797396, 'Object_ID': 4237796, 'Block_X': 403548, 'Block_Y': 133943, 'Last_Updated': '2021/01/14', 'Sex_Offender_Code': '001-563', 'Date_Added': '2012/12/10', 'Last_Name': 'TYER', 'First_Name': 'JOHN', 'Aliases': None, 'Max_Classification': 'A', 'DOB': '1951/08/18', 'Height_Inches': 71, 'Weight_lbs': 160, 'Eye_Color': 'BROWN', 'Hair_Color': 'BLACK/GRAY', 'Markings': None, 'Date_Registered': '2007/04/04', 'Residence': 'HOME', 'District': 6.0, 'PSA_Announcement_Number': 605.0, 'Block_Address': '3200 - 3399 BLOCK OF POPE STREET SE', 'Quadrant': 'SE', 'ZIP_Code': 20020})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

## df to html

In [34]:
# clean up df further for table
no_duplicate_data = no_duplicate_data.drop(columns=['Object_ID', 'Longitude', 'Latitude', 'Block_X', 'Block_Y',
                                            'Last_Updated', 'Date_Added', 'District', 'PSA_Announcement_Number',
                                           'Quadrant'])
no_duplicate_data.head()

,Sex_Offender_Code,Last_Name,First_Name,Aliases,Max_Classification,DOB,Height_Inches,Weight_lbs,Eye_Color,Hair_Color,Markings,Date_Registered,Residence,Block_Address,ZIP_Code
0,002-910,SANDERS,ANTHONY,DERRICK JUICE / X JUICE / ANTHONY SANDERS /...,A,1969/06/19,66,138,BROWN,BLACK,TATTOO-LEFT WRIST: CHINESE SYMBOL; RIGHT WRIST...,2016/08/29,HOME,2300 - 2399 BLOCK OF GOOD HOPE ROAD SE,20020
1,002-913,GAYLES,JERMAINE,ROBERT GAYLES / JERMAINE IRVIN / JERMAINE I...,B,1986/06/25,73,200,BROWN,BLACK,NaN,2018/02/22,HOME,2300 - 2399 BLOCK OF AINGER PLACE SE,20020
2,002-919,HARRIS,REGINALD,REGINALD ELBERT HARRIS-WILLS,B,1995/02/12,67,157,BROWN,BLACK,"TATTOO ON LOWER RIGHT ARM ""LAMONT""; TATTOO ON ...",2016/10/20,HOME,2400 - 2499 BLOCK OF LAWRENCE STREET NE,20018
3,002-927,STRICKLAND,GARY,MELVIN,B,1967/01/22,74,245,BROWN,BLACK,"TATTOO ON SHOULDER ""TINA""; GUNSHOT WOUNDS ON B...",2016/09/01,HOME,1 - 99 BLOCK OF S STREET NW,20001
4,002-928,GANT,TIMOTHY,TIMOTHY GANT,B,1989/09/19,71,285,BROWN,BLACK,TATTOO ON LEFT SHOULDER 'PICTURE OF A CROSS WI...,2017/02/09,WORK,1700 - 1799 BLOCK OF 7TH STREET NW,20001

In [35]:
no_duplicate_data = no_duplicate_data.set_index('Sex_Offender_Code')
no_duplicate_data.head()

,Last_Name,First_Name,Aliases,Max_Classification,DOB,Height_Inches,Weight_lbs,Eye_Color,Hair_Color,Markings,Date_Registered,Residence,Block_Address,ZIP_Code
Sex_Offender_Code,,,,,,,,,,,,,,
002-910,SANDERS,ANTHONY,DERRICK JUICE / X JUICE / ANTHONY SANDERS /...,A,1969/06/19,66,138,BROWN,BLACK,TATTOO-LEFT WRIST: CHINESE SYMBOL; RIGHT WRIST...,2016/08/29,HOME,2300 - 2399 BLOCK OF GOOD HOPE ROAD SE,20020
002-913,GAYLES,JERMAINE,ROBERT GAYLES / JERMAINE IRVIN / JERMAINE I...,B,1986/06/25,73,200,BROWN,BLACK,NaN,2018/02/22,HOME,2300 - 2399 BLOCK OF AINGER PLACE SE,20020
002-919,HARRIS,REGINALD,REGINALD ELBERT HARRIS-WILLS,B,1995/02/12,67,157,BROWN,BLACK,"TATTOO ON LOWER RIGHT ARM ""LAMONT""; TATTOO ON ...",2016/10/20,HOME,2400 - 2499 BLOCK OF LAWRENCE STREET NE,20018
002-927,STRICKLAND,GARY,MELVIN,B,1967/01/22,74,245,BROWN,BLACK,"TATTOO ON SHOULDER ""TINA""; GUNSHOT WOUNDS ON B...",2016/09/01,HOME,1 - 99 BLOCK OF S STREET NW,20001
002-928,GANT,TIMOTHY,TIMOTHY GANT,B,1989/09/19,71,285,BROWN,BLACK,TATTOO ON LEFT SHOULDER 'PICTURE OF A CROSS WI...,2017/02/09,WORK,1700 - 1799 BLOCK OF 7TH STREET NW,20001

In [36]:
#create html table and save to file
no_duplicate_data.to_html('table.html', index=False, classes=['table', 'table-striped', 'table-hover'])